* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.container {
  background-color: #111;
  overflow-x: hidden;
}

.salute {
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.saluteTextContainer {
  flex: 3;
}

.saluteImgContainer {
  flex: 1;
}

.saluteText {
  color: #faf7f7;
  font-size: 60vw;
  cursor: default;
}

.saluteImg {
  width: 100%;
}

.nameContainer {
  height: 100vh;
  background-color:#4f7d43;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  font-size: 20vw;
  color: #fff;
  cursor: default;
  text-align: center;
}

.jobTitleContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.dark {
  background: url("https://images.pexels.com/photos/1089438/pexels-photo-1089438.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.purple {
  background: url("https://images.pexels.com/photos/1089438/pexels-photo-1089438.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.jobTitle {
  font-size: 10vw;
  color: #fff;
  cursor: default;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 30vh;
  padding: 0 100px;
}

.projectsTitle {
  font-size: 10vw;
  color: #fff;
  text-align: center;
}

.project {
  display: flex;
  align-items: center;
  gap: 100px;
  height: 100vh;
  overflow: hidden;
}

.project:nth-child(2n) {
  flex-direction: row-reverse;
}

.skyshelf {
  flex: 1;
  width: 300px;
  height: 600px;
  position: relative;
}

.book {
  width: 264px;
  height: 567px;
  position: absolute;
  top: 17px;
  left: 18px;
  border-radius: 28px;
  overflow: scroll;
}

.book::-webkit-scrollbar {
  display: none;
}

.bookImg {
  width: 100%;
}

.projectDetail {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.projectTitle {
  font-size: 7vw;
  color: #aaa;
}

.projectDesc {
  font-size: 20px;
  color: #aaa;
  text-align: justify;
  line-height: 40px;
}

.projectButton {
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid #aaa;
  color: #aaa;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.projectButton::after {
  content: "View Demo";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  transition: 1s all;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #aaa;
  color: #222;
}

.projectButton:hover.projectButton::after {
  transform: translateX(100%);
}

.review {
  width: 600px;
  height: 379px;
  flex: 1;
  position: relative;
}

.senti_analysis {
  width: 451px;
  height: 283px;
  position: absolute;
  top: 18px;
  left: 68px;
  overflow: scroll;
}

.reviewImg {
  width: 100%;
}

.senti_analysis::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1024px) {
  .projects {
    padding: 0 30px;
    text-align: center;
  }

  .project {
    flex-direction: column;
    height: max-content;
  }

  .project:nth-child(2n) {
    flex-direction: column;
  }

  .skyshelf, .review {
    transform: none !important;
  }

  .projectsTitle {
    font-size: 12vw;
  }

  .jobTitle, .name {
    font-size: 16vw;
  }
}
